/* Noto Sans JP */
body {
	font-family: "Noto sans JP";
}

/* スクロールバー非表示 */
#app {
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none;    /* Firefox */
}

#app::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* Hexagon は height = width * 0.866 */
.hex {
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    aspect-ratio: 200 / 173;
}

/* 外部リンク */
.external-link {
	border-bottom: dotted 2px;
	border-bottom-color: #000b29;
}

.external-link:hover {
	font-weight: 600;
}

/* 吹き出し */
.balloon {
    opacity: 0.8;
	position: relative;
	background: #000b29;
	border: 4px solid white;
    border-radius: 0.5rem;
}
.balloon:after, .balloon:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.balloon:after {
	border-bottom-color: #000b29;
	border-width: 30px;
	margin-left: -30px;
}
.balloon:before {
	border-bottom-color: white;
	border-width: 36px;
	margin-left: -36px;
}

.balloon p {
    padding: 0.5rem;
    color: white;
}